.top_nav_bar_container {
  width: 100%;
  height: 48px;
  background: linear-gradient(210.75deg, #0077b6 0%, #00527f 100%);
  display: flex;
  justify-content: center;
}

.top_nav_bar {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  justify-content: space-between;
}

.nav_menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.request_demo_button {
  overflow: hidden;
  height: 32px;
  min-width: 150px;
  width: 100%;
  font-size: 12px;
  line-height: 29px;
  font-weight: normal;
  border-width: 1px;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 16px;
  background: linear-gradient(#ffffff 0 0) no-repeat;
  background-size: 0%;
  transition: .3s;
}

.request_demo_caption {
  color: #ffffff;
}

.request_demo_button:hover {
  background-size: 100%;
  transition: .3s;
}

.request_demo_arrow  {
  background: url('https://ontego.de/images/commsult/graphic/arrow_white.svg');
  background-repeat: no-repeat;
  content: "";
  width: 30px;
  height: 18px;
}

.request_demo_button:hover 
  p {
  color: #0077b6;
}

.request_demo_button:hover
  .request_demo_arrow {
    background: url('https://ontego.de/images/commsult/graphic/arrow_blue.svg');
    background-repeat: no-repeat;
    content: "";
}

.nav_bar {
  width: 100%;
}

.top_logo {
  padding: 11px 15px;
}

.bot_nav_bar_container {
  width: 100%;
  box-shadow: 0 20px 29px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
}

.bot_nav_bar_container_active {
  width: 100%;
  box-shadow: 0 20px 29px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
}

.bot_nav_bar_container_active:hover {
  width: 100%;
  box-shadow: 0 20px 29px 0 rgba(0, 0, 0, 0.15);
  background: #f5f5f5;
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
}

.bot_nav_bar {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-content: stretch;
}

.nav_submenu_container {
  place-self: start;
}

.bot_logo {
  padding: 0px 15px 0 75px;
}

.void_logo {
  padding: 0px 15px 0 75px;
  width: 194px;
  height: 55px;
}

.bot_logo_active {
  padding: 0px 15px 0 75px;
  place-self: start;
}

.nav_submenu {
  display: flex;
  align-items: start;
}

.submenu {
  padding-left: 100px;
  height: 35px;
  position: relative;
}

.vertical_submenu {
  padding-left: 100px;
  position: relative;
}

.nav_menu_item_container {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  padding-top: 10px;
  min-width: 2000px;
}

.nav_menu_item_vertical_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  position: relative;
  padding-top: 10px;
  height: auto;
}
