.filter_container {
  max-width: 970px;
  margin: 0 auto;
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 40px 15px 21px 15px;
}

.filter_row {
  display: block;
  margin: 0 auto 24px auto;
  width: fit-content;
}

.filter_row_content {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.filter_label {
  color: #2D333D;
  font-family: Capitolium2;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
}

.filter_bottom {
  display: flex;
  justify-content: space-around;
}

.filter_caption {
  text-align: left;
  color: #96999E;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 18px;
  width: fit-content;
}

.reset_button,
.toggle_button {
  display: inline-block;
  text-align: right;
  color: #0077B6;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.18px;
  line-height: 26px;
  cursor: pointer;
}

.toggle_button {
  margin-left: 24px;
}

.additional_filter {
  max-height: 1000px;
  transition: max-height 0.4s ease-in-out;
}

.additional_filter.hide {
  max-height: 0px;
  visibility: hidden;
}

.filter_range_container {
  display: flex;
}