.inactive_filter {
  line-height: 20px;
  color: #abadb1;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.16px;
  background: #eaeaeb;
  padding: 3px 16px 5px 16px;
  border-radius: 16px;
  cursor: pointer;
}

.inactive_filter:hover {
  line-height: 20px;
  color: #96999e;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.16px;
  background: #d5d5d5;
  padding: 3px 16px 5px 16px;
  border-radius: 16px;
  cursor: pointer;
}

.active_filter {
  line-height: 20px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.16px;
  background: linear-gradient(210.75deg, #0077b6 0%, #00527f 100%) !important;
  padding: 3px 16px 5px 16px;
  border-radius: 16px;
  cursor: pointer;
}

.rental_chip {
  line-height: 20px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.16px;
  background: #d1b704 !important;
  padding: 3px 16px 5px 16px;
  border-radius: 16px;
  cursor: pointer;
}