.main {
  min-height: 100vh;
  background-color: #ffffff;
}

.top_figure {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.title_popup {
  font-family: Capitolium2;
  font-size: 56px;
  align-self: center;
  width: 535px;
  z-index: 1;
  margin-left: 140px;
}

.image_wrapper {
  position: relative;
  width: 535px;
  height: 304px;
}

.image_content {
  position: absolute;
  left: -140px;
  width: 535px;
  height: 304px;
  background: url('https://ontego.de/images/commsult/content/A.1.3/A.1.3_01_M1_Intro@2x.jpg');
  background-size: cover;
}

.image_content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.6;
}

.caption {
  color: #383d47;
  font-size: 16px;
  letter-spacing: 0.2px;
  width: fit-content;
  margin: 60px auto 0 auto;
  line-height: 26px !important;
  font-family: Roboto;
}

.title_popup span {
  border-bottom: 4px solid #0077b6;
}
