.nav_menu {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  cursor: pointer;
  background-color: transparent;
  width: 140px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_menu:hover {
  cursor: pointer;
  color: #0077b6;
  background-color: #ffffff;
}
  