.list_item_container {
  margin: 24px 0;
  display: block;
}

.list_item_content {
  max-width: 970px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 48px;
}

@media (max-width: 420px) {
  .list_item_content {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 720px) {
  .list_item_content {
    grid-template-columns: auto auto auto;
  }
}
